body {
	background-color: black;
	font-family: monospace;
	font-size: 14px;
	color: lawngreen;
}

body, div, p {
	margin: 0;
	padding: 0;
}

a, a:visited {
	text-decoration: underline;
	color: red;
	font-weight: 600;
}

.app {
	display: flex;
	flex-direction: column;
}

.history, .list {
	display: flex;
	flex-direction: column;
	height: 93vh;
	padding: 0.5vw;
	overflow: auto;
}

.line {
	display: flex;
	flex-direction: row;
	margin-bottom: 2px;
}

.line-user {
	font-weight: 600;
	margin-right: 10px;
}

.line-user::after {
	content: ':';
}

.line-message {
	color: white;
}

.line-message.server {
	color: lightgray;
	margin: 4px;
}

.line-message .mention {
	font-weight: 600;
	text-decoration: underline;
	color: yellow;
}

.interface {
	display: flex;
	flex-direction: row;
	height: 4vh;
	border-top: 3px solid lawngreen;
	padding-top: 3px;
	margin: 0 0.5vw;
}

#message {
	border: none;
	width: 96vw;
	background-color: transparent;
	color: white;
	font-size: 14px;
	font-family: monospace;
	outline: none;
	padding: 0 6px;
}

#sendButton {
	width: 4vw;
}